<!-- Button trigger modal -->
<button *ngIf="static.type=='Create';else Update" type="button" class="{{static.buttonClass}}" data-toggle="modal" [attr.data-target]="'#' + modalId">
                  {{static.type}}
                  </button>
<ng-template #Update>
    <a *ngIf="static.type=='Update' ;else View" (click)="data()" class="{{static.buttonClass}}" type="button" data-toggle="modal" [attr.data-target]="'#' + modalId">
        <i class="{{static.buttonIcon}}"></i>
    </a>
    <a *ngIf="static.type=='View'" (click)="data()" type="button" class="{{static.buttonClass}}" data-toggle="modal" [attr.data-target]="'#' + modalId">
        <i class="{{static.buttonIcon}}"></i>
    </a>

</ng-template>

<!-- Modal -->
<div class="modal fade" [attr.id]="modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{static.type}}</h4>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer">
                <!-- <button *ngFor="let element of schema.modal.button" [attr.form]="static.type" [attr.data-dismiss]="element.modal" type="{{element.butonType}}" class="btn btn-{{element.buttonColor}} btn-simple">{{static.type}}</button> -->
                <button *ngIf="static.type !== 'View'" [attr.form]="buttonform" type="submit" class="btn btn-info btn-simple">{{static.type}}</button>
                <button data-dismiss="modal" class="btn  btn-simple">Cancel</button>
            </div>
        </div>
    </div>
</div>