<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Name</label>
            <!-- <input type="text" class="form-control" [(ngModel)]="obj.name" placeholder="name"> -->
            <select class="addmorevalid form-control">
                <option value=""></option>
                
            </select>

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Discription</label>
            <input type="text" class="{{dis.class}}" (keyup)="change()" [(ngModel)]="obj.discp" placeholder="name">
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="{{qty.class}}" (keyup)="change()" [(ngModel)]="obj.qty" placeholder="qty">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Unit Price</label>
            <input type="text" class="form-control" [(ngModel)]="obj.up" placeholder="unit price" disabled>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label>Discount</label>
            <input type="text" class="{{discount.class}}" (keyup)="change()" [(ngModel)]="obj.discount" placeholder="discount">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" [(ngModel)]="obj.amount" placeholder="amount" disabled>
        </div>
    </div>
</div>
<div class="row">
    <button (click)="add()" id="more" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>
</div>

<div class="content table-responsive table-full-width">
    <table class="table table-hover">
        <thead>
            <tr *ngIf="array.length > 0">
                <th>#</th>
                <th>Name</th>
                <th>Discription</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Discount</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of array;let i=index">
                <td>{{i+1}}</td>
                <td>{{element.name | slice:0:7}}</td>
                <td>{{element.discp | slice:0:7}}</td>
                <td>{{element.qty }}</td>
                <td>{{element.up }}</td>
                <td>{{element.discount }}</td>
                <td>{{element.amount }}</td>
                <td><a style="color:red" *ngIf="array.length > 0" (click)="remove(i)"><i class="fa fa-close pull-right"></i></a></td>
            </tr>
            <tr *ngIf="array.length > 0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b class="pull-right">Total: </b></td>
                <td>{{total}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>