<div class="progress">
    <div *ngIf="schema.multi;else multi" class="progress">
        <div *ngFor="let element of schema.multi" class="progress-bar {{element.class}}" [style.width]="element.percent">
            <span class="sr-only">{{element.percent}} </span>
        </div>
    </div>
    <ng-template #multi>
        <div class="progress-bar {{schema.class}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="schema.percent">
            <span class="sr-only">{{schema.percent}} Complete</span>
        </div>
    </ng-template>
</div>