<div class="row card" style="margin-left: 10px;margin-right: 10px" *ngFor="let ele of nestedarray;let i=index">
    <a *ngIf="nestedarray.length > 1" (click)="delete(i)"><i class="fa fa-close pull-right"></i></a>
    <br>
    <div *ngFor="let element of ele;let j=index">
        <div *ngIf="element.fieldtype==='text'" class="{{element.colclass}}"><b>{{element.name}} {{i+1}}:</b></div>
        <div *ngIf="element.fieldtype==='input'" class="{{element.colclass}}">
            <input #value type="text" (blur)="getValue()" name="{{element.name}}" [(ngModel)]="element.value" placeholder="{{i+1}} {{element.placeholder}}" class="form-control">
        </div>
        <div *ngIf="element.fieldtype==='select2'" class="{{element.colclass}}">
            <app-select2 [schema]="element" (notify)="select2($event)"></app-select2>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>
<button (click)="more()" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>