<input #value1 type="{{schema.type}}" name="{{schema.name}}" (keyup)="search()" [(ngModel)]="schema.value" placeholder="{{schema.placeholder}}" class="form-control">

<div *ngIf="show==true">
    <div class="list-group dropdown-custom">
        <button *ngFor="let element of dropdown" style="min-width: 210px;" class="list-group-item list-group-item-action" (click)="select(element)">{{element.name}}</button>
    </div>
</div>