<div class="row card" style="margin-left: 10px;margin-right: 10px" *ngFor="let ele of addmorearray;let i=index; ">
    <a *ngIf="addmorearray.length > 1" (click)="delete(i)"><i class="fa fa-close pull-right"></i></a>
    <br>
    <div *ngFor="let element of ele;let j=index">
        <div *ngIf="element.fieldtype==='input'" class="{{element.colclass}}">
            <input #value type="{{element.type}}" (blur)="getValue(i,j)" name="{{element.name}}" [(ngModel)]="element.value" placeholder="{{element.placeholder}}" class="form-control">
        </div>
        <div *ngIf="element.fieldtype==='searchselect'" class="{{element.colclass}}">
            <app-searchselect [schema]="element" [index]="i" (notify)="searchselect($event)"></app-searchselect>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>

<input type="text" placeholder="Total" [(ngModel)]="total" class="form-control pull-right total">

<br>
<br>
<br>

<button (click)="more()" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>