<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Name</label>
            <select class="addmoreexpensevalid form-control">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Discription</label>
            <input type="text" class="{{dis.class}}" (keyup)="change()" [(ngModel)]="obj.discp" placeholder="Discription">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="{{amount.class}}" (keyup)="change()" [(ngModel)]="obj.amount" placeholder="Amount">
        </div>
    </div>
</div>
<div class="row">
    <button (click)="add()" id="moreexpense" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>
</div>

<div class="content table-responsive table-full-width">
    <table class="table table-hover">
        <thead>
            <tr *ngIf="array.length > 0">
                <th>#</th>
                <th>Name</th>
                <th>Discription</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of array;let i=index">
                <td>{{i+1}}</td>
                <td>{{element.name | slice:0:7}}</td>
                <td>{{element.discp | slice:0:7}}</td>
                <td>{{element.amount }}</td>
                <td><a style="color:red" *ngIf="array.length > 0" (click)="remove(i)"><i class="fa fa-close pull-right"></i></a></td>
            </tr>
            <tr *ngIf="array.length > 0">
                <td></td>
                <td></td>
                <td><b class="pull-right">Total: </b></td>
                <td>{{total}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>