<div class="pull-left pagination-detail"><span class="pagination-info"></span><span id="pagelimit" class="page-list"><span class="btn-group dropup"><button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
        <span class="page-size">{{schema.dpSize}}</span>
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li *ngFor="let element of schema.num"><a (click)="getpagelimit(element)">{{element}}</a></li>
        <li><a (click)="getpagelimit('')">Show All</a></li>

    </ul>
    </span> {{rowsInfo}}</span>
</div>