<input type="checkbox" [checked]="schema.status" data-toggle="switch">

<!-- <div class="col-md-4">
    <p class="category">Plain</p>
    <div class="switch" [attr.data-off-label]="' '">
        <input type="checkbox" checked>
    </div>
    <div class="switch" [attr.data-off-label]="' '">
        <input type="checkbox">
    </div>
</div>

<div class="col-md-4">
    <p class="category">With Icons</p>
    <div class="switch" [attr.data-on-label]="'<i class='fa fa-check'></i>'" [attr.data-off-label]="'<i class='fa fa-times'></i>'">
        <input type="checkbox" checked>
    </div>
    <div class="switch" [attr.data-on-label]="'<i class='fa fa-check'></i>'" [attr.data-off-label]="'<i class='fa fa-times'></i>'">
        <input type="checkbox">
    </div>
</div> -->