<div class="row">
    <div class="col-md-8">
        <app-valid-form [Page]="profilePage">
        </app-valid-form>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div style="background-color:#4050c3" class="image"></div>
            <div class="content">
                <div class="author">
                    <a>
                        <img class="avatar border-gray" src="/assets/images/profile.jpg" alt="...">

                        <h4 class="title">Tania Andrew<br>
                            <small>michael24</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center"> "Lamborghini Mercy <br> Your chick she so thirsty <br> I'm in that two seat Lambo"
                </p>
            </div>
            <hr>
            <div class="text-center">
                <button class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

            </div>
        </div>
    </div>

</div>