/* You can add global styles to this file, and also import other style files */


/* ---- particles.js container ---- */

// #particles-js canvas {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 8;
// }
// body {
//     overflow: hidden;
// }