<div class="row">
    <div class="col-md-6">
        <app-collapse [properties]="collapseData"></app-collapse>
    </div>
    <div class="col-md-6">
        <app-collapse [properties]="collapseHoverData"></app-collapse>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-tabs [properties]="tabsData"></app-tabs>
    </div>
    <div class="col-md-6">
        <app-tabs [properties]="tabsIconsData"></app-tabs>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <app-subcategories [properties]="pageSubcategoriesData"></app-subcategories>
    </div>
</div>