.btn-blue {
    border-color: #3F51B5;
    color: #3F51B5;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue:active:focus,
.btn-blue:active:hover,
.btn-blue.active:focus,
.btn-blue.active:hover,
.open>.btn-blue.dropdown-toggle {
    background-color: transparent;
    color: #3F51B5;
    border-color: #3F51B5;
}

.btn-blue.disabled,
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled.focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue:disabled,
.btn-blue:disabled:hover,
.btn-blue:disabled:focus,
.btn-blue:disabled.focus,
.btn-blue:disabled:active,
.btn-blue:disabled.active,
.btn-blue[disabled],
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled].focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue.focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
    background-color: transparent;
    border-color: #3F51B5;
}

.btn-blue.btn-fill {
    color: #FFFFFF;
    background-color: rgba(63, 81, 181, 0.85);
    ;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-blue.btn-fill:hover,
.btn-blue.btn-fill:focus,
.btn-blue.btn-fill:active,
.btn-blue.btn-fill.active,
.open>.btn-blue.btn-fill.dropdown-toggle {
    background-color: #3F51B5;
    color: #FFFFFF;
}

.btn-blue.btn-fill .caret {
    border-top-color: #FFFFFF;
}

.btn-blue .caret {
    border-top-color: #3F51B5;
}