<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-blue btn-fill btn-round btn-icon">
<i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
<i class="fa fa-navicon visible-on-sidebar-mini"></i>
</button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse">

            <!-- <app-navbar-items [navItems]="leftNavItems" [navbarClass]="'navbar-left'" [showTitles]="false"></app-navbar-items> -->
            <!-- <form class="navbar-form navbar-left navbar-search-form" role="search">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" value="" class="form-control" placeholder="Search...">
                </div>
            </form> -->
            <!-- <div class="app-navbar-items" [navItems]="rightNavItems" [navbarClass]="'navbar-right'" [showTitles]="false"></div> -->
            <app-navbar-items [navItems]="rightNavItems" [navbarClass]="'navbar-right'" [showTitles]="false"></app-navbar-items>

        </div>
    </div>
</nav>