<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">

                <h2 class="title"><button class="btn btn-fill btn-sm" (click)="back();">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;{{form.title}}</h2>
                <hr>
            </div>
            <div id="invoice-box" class="content">
                <div class="invoice-box">
                    <div class="row">
                        <div class="col-md-6" *ngIf="owner">
                            <h1 *ngIf="owner">{{owner.logo}}</h1>
                            <br>
                            <br> {{owner.companyname}}.
                            <br> {{owner.address}}<br> {{owner.mobilenumber}}<br>{{owner.website}}

                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">

                                <br>
                                <br>
                                <br> Invoice #:{{updateValues.reference}}<br> Created: {{updateValues.invoiceDate}}<br> Due: {{updateValues.DueDate}}
                                <br>
                                <br>
                                <br>
                                <div *ngIf="updateValues.Customer">
                                    {{updateValues.Customer.name}}.<br> {{updateValues.Customer.address}}<br>
                                </div>
                                <div *ngIf="updateValues.Supplier">
                                    {{updateValues.Supplier.name}}.<br> {{updateValues.Supplier.address}}<br>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                    <table cellpadding="0" cellspacing="0">
                        <!-- <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
                                            <h1 *ngIf="owner">{{owner.logo}}</h1>
                                        </td>

                                        <td>
                                            Invoice #:{{updateValues.reference}}<br> Created: {{updateValues.invoiceDate}}<br> Due: {{updateValues.DueDate}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr> -->

                        <!-- <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td *ngIf="owner">
                                            {{owner.companyname}}.<br> {{owner.address}}<br> {{owner.mobilenumber}}<br>{{owner.website}}
                                        </td>

                                        <td *ngIf="updateValues.Customer">
                                            {{updateValues.Customer.name}}.<br> {{updateValues.Customer.address}}<br>
                                        </td>
                                        <td *ngIf="updateValues.Supplier">
                                            {{updateValues.Supplier.name}}.<br> {{updateValues.Supplier.address}}<br>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr> -->


                        <tr class="heading">
                            <td>
                                Item
                            </td>

                            <td>
                                Discription
                            </td>
                            <td>
                                Quantity
                            </td>
                            <td>
                                Unit Price
                            </td>
                            <td>
                                Discount
                            </td>
                            <td>
                                Price
                            </td>
                        </tr>

                        <tr *ngFor="let row of updateValues.inventory;" class="item">
                            <td>
                                {{row.name}}
                            </td>

                            <td>
                                {{row.discp}}
                            </td>
                            <td>
                                {{row.qty}}
                            </td>
                            <td>
                                {{row.up}}
                            </td>
                            <td>
                                {{row.discount}}
                            </td>
                            <td>
                                {{row.amount}}
                            </td>
                        </tr>

                        <tr class="total">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td>
                                <b>Total: {{updateValues.total}}</b>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <button type="submit" (click)="Print()" class="btn btn-info btn-fill btn-sm pull-right">Print {{form.title}}</button>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>