<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">Paper Clip</a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <!-- <a id="colse-app" onclick="window.top.close()" style="color:white;font-size:35px" title="Close"><i class="pe-7s-close-circle"></i></a> -->

            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="blue">

        <!-- particles.js container -->
        <!-- <div id="particles-js"></div> -->
        <!-- you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 ">
                        <form method="#" action="#">

                            <div class="card" [@carduserprofile]>
                                <div class="header text-center">Login</div>
                                <div class="content">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="email" (keyup)="validate('u')" [(ngModel)]="username" name="username" style="height:35px" placeholder="Enter email" [ngClass]="uclass">
                                        <span *ngIf="usernamevalid===false" class="help-block" style="color:#FB404B">{{uerr}}</span>

                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" (keyup)="validate('p')" [(ngModel)]="password" name="password" style="height:35px" placeholder="Password" [ngClass]="pclass">
                                        <span *ngIf="passwordvalid===false" class="help-block" style="color:#FB404B">{{perr}}</span>

                                    </div>

                                </div>
                                <div class="footer text-center">
                                    <button type="submit" [disabled]="loginbtn" (click)="login()" class="btn btn-fill btn-sm btn-warning btn-wd">Login</button>
                                    <button routerLink="../register" style="margin-top: 10px;" class="btn btn-fill btn-sm btn-info btn-wd">Register</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


        <footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">
                    <ul>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2018 <a>Paper Clip</a>, made with <a>&#10084;</a>
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(assets/images/full-screen-image-2.jpg) "></div>

        <!-- <app-fixed-plugin [schema]="fixedPluginData"></app-fixed-plugin> -->