.content {
    z-index: 10;
}

// #particles-js canvas {
//     position: fixed;
//     z-index: 8;
// }
input.valid {
    border: 1px solid #87CB16;
    color: #87CB16;
}

input.invalid {
    border: 1px solid #FB404B;
    color: #FB404B;
}