<div class="col-md-4 datepicker">
    <div class="input-group">
        <input class="form-control" id="demo" type="text">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
    </div>
</div>