<div class="fixed-plugin">
    <div class="dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title">Configuration</li>
            <li class="  adjustments-line">
                <a class=" switch-trigger">
                    <p>Filters</p>
                    <div class="pull-right">
                        <p *ngFor="let element of schema.filters" class="badge filter {{element.class}}" [attr.data-color]="element.color"></p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Sidebar Images</li>
            <li *ngFor="let element of schema.bgimg">
                <a class="img-holder switch-trigger">
                    <img [src]="element.url">
                </a>
            </li>

        </ul>
    </div>
</div>