<!-- Button trigger modal -->
<!-- <button *ngIf="static.type=='Create';else Update" type="button" class="{{static.buttonClass}}" data-toggle="modal" [attr.data-target]="'#' + modalId">
  {{static.type}}
  </button>
<ng-template #Update>
    <a *ngIf="static.type=='Update' ;else View" (click)="data()" class="{{static.buttonClass}}" type="button" data-toggle="modal" [attr.data-target]="'#' + modalId">
        <i class="{{static.buttonIcon}}"></i>
    </a>
    <a *ngIf="static.type=='View'" (click)="data()" type="button" class="{{static.buttonClass}}" data-toggle="modal" [attr.data-target]="'#' + modalId">
        <i class="{{static.buttonIcon}}"></i>
    </a>

</ng-template> -->
<!-- <button *ngIf="static.type=='Create';else Update" type="button" class="{{static.buttonClass}}" href="#modal-sections" uk-toggle>
    {{static.type}}
    </button>
<ng-template #Update>
    <a *ngIf="static.type=='Update' ;else View" (click)="data()" class="{{static.buttonClass}}" href="#modal-sections" uk-toggle>
        <i class="{{static.buttonIcon}}"></i>
    </a>
    <a *ngIf="static.type=='View'" (click)="data()" type="button" class="{{static.buttonClass}}" href="#modal-sections" uk-toggle>
        <i class="{{static.buttonIcon}}"></i>
    </a>

</ng-template> -->

<!-- Modal -->
<!-- <div class="uk-modal-container" id="modal-sections" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" ></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{static.type}}</h2>
        </div>

        <div class="uk-modal-body">
            <app-form [schema]="schema" [formType]="static.type" [formId]="rowId" [updateData]="updateData"></app-form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button *ngIf="static.type !== 'View'" [attr.form]="buttonform" type="submit" class="btn btn-info btn-simple">{{static.type}}</button>
            <button data-dismiss="modal" class="btn  btn-simple">Cancel</button>
        </div>
    </div>
</div> -->
<div class="uk-modal-container" id="modal-sections" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button"></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Create</h2>
        </div>

        <div class="uk-modal-body">
            <app-form [schema]="schema" [formType]="'Create'" [formId]="rowId" [updateData]="updateData"></app-form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button [attr.form]="buttonform" type="submit" class="btn btn-info btn-simple">Create</button>
            <button data-dismiss="modal" class="btn  btn-simple">Cancel</button>
        </div>
    </div>
</div>
<!-- <div class="modal" [attr.id]="modalId" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create</h4>
            </div>
            <div class="modal-body">
                <app-form [schema]="schema" [formType]="'Create'" [formId]="rowId" [updateData]="updateData"></app-form>
            </div>
            <div class="modal-footer">
                <button [attr.form]="buttonform" type="submit" class="btn btn-info btn-simple">Create</button>
                <button data-dismiss="modal" class="btn  btn-simple">Cancel</button>
            </div>
        </div>
    </div>
</div> -->