<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; 2018 <a>Paper Clip</a>, made with <a>&#10084;</a>
        </p>
    </div>
</footer>