<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="blue">

        <div class="content" style="padding-top: 3vh">
            <div class="container">
                <div class="row " [@carduserprofile]>
                    <div class="card col-md-9 col-md-offset-2">
                        <div class="header-text text-center">
                            <h1><i style="font-size:50px" class="pe-7s-paperclip"></i >&nbsp; Paper Clip</h1>
                            <hr>
                            <h4>Register for free and experience the <a>&#10084;</a> today</h4>
                        </div>
                    </div>
                    <div class="card col-md-4 col-md-offset-2">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i style="font-size:50px" class="pe-7s-user"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Free Account</h4>
                        Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="icon">
                            <i style="font-size:50px" class="pe-7s-graph1"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Awesome Performances</h4>
                        Here you can write a feature description for your dashboard, let the users know what is the value that you give them.

                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="icon">
                            <i style="font-size:50px" class="pe-7s-headphones"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Global Support</h4>
                        Here you can write a feature description for your dashboard, let the users know what is the value that you give them.

                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
            <div class="card col-md-4 col-md-offset-s2">
                <form>
                    <div class="card card-plain" style="padding-bottom: 0px;">

                        <div class="content">
                            <div *ngFor="let element of form;let i=index" class="form-group">
                                <input type="{{element.type}}" (keyup)="validate($event,i)" [(ngModel)]="element.value" name="{{element.name}}" placeholder="{{element.placeholder}}" [(ngClass)]="element.class">
                                <span *ngIf="element.valid===false" class="help-block" style="color:#FB404B">{{element.err}}</span>
                                <span *ngIf="element.name==='department'" class="help-block" style="color:#dfc502">You can chose from hr, admin, pop, pos</span>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" id="submit_btn" (click)="submit()" class="btn btn-fill btn-warning btn-sm btn-wd">Create Free Account</button>

                            <button style="margin-top: 10px;" class="btn btn-fill btn-info btn-sm btn-wd" [routerLink]="'../login'">Looking For Login ?</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<footer class="footer footer-transparent">
    <div class="container">
        <p class="copyright text-center">
            &copy; 2018 <a>Paper Clip</a>, made with <a>&#10084;</a> </p>
    </div>
</footer>

<!-- <app-fixed-plugin [schema]="fixedPluginData"></app-fixed-plugin> -->
<div class="full-page-background" style="background-image: url(assets/images/full-screen-image-2.jpg);z-index:2"></div>