<div class="row">
    <div class="col-md-12">
        <div class="card" [@carduserprofile]>
            <div class="header">

                <h2 class="title"><button class="btn btn-fill btn-sm" (click)="back();">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;{{form.title}}</h2>
                <hr>
            </div>
            <div class="content">
                <div *ngFor="let row of form.rows;let i=index" class="row">
                    <div *ngFor="let col of row.col;let k=index" class="{{col.class}}">
                        <app-dyn-field [schema]="col" [UpdateSchema]="C_udata[col.data.index]"></app-dyn-field>
                    </div>
                </div>

                <hr>
                <!-- <button type="submit" id="submit_btn" (click)="Create()" class="btn btn-info btn-fill btn-sm pull-right">Create {{form.title}}</button> -->
                <button type="submit" *ngIf="form.type==='create'" [disabled]="form.submit" (click)="Create()" class="btn btn-info btn-fill btn-sm pull-right">Create {{form.title}}</button>
                <button type="submit" *ngIf="form.type==='update'" [disabled]="form.submit" (click)="Update()" class="btn btn-info btn-fill btn-sm pull-right">Update {{form.title}}</button>
                <!-- <button type="submit" [disabled]="this.form.submit" (click)="Create()" class="btn btn-info btn-fill btn-sm pull-right">Create {{form.title}}</button> -->
                <!-- <ng-template #up>
                    <button type="submit" id="submit_btn" (click)="Update()" class="btn btn-info btn-fill btn-sm pull-right">Update {{form.title}}</button>
                </ng-template> -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>