<div class="card">
    <div class="header">
        <h4 class="title">{{properties.title}}</h4>
        <p class="category">{{properties.subTitle}}</p>
    </div>
    <div class="content">
        <div class="panel-group" id="accordion">

            <div *ngFor="let property of properties.list" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a [attr.data-target]="'#' + property.toggleId" [attr.data-toggle]="properties.toggleType">
                          {{property.title}}

                          <b *ngIf="properties.toggleType==='collapse'" class="caret"></b>
                      </a>
                    </h4>
                </div>
                <div id={{property.toggleId}} class="panel-collapse collapse">
                    <div class="panel-body">
                        {{property.data}}
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>