<div class="card">
    <div class="header">
        <h4 class="title">{{properties.title}}</h4>
        <p class="category">{{properties.subTitle}}</p>
    </div>
    <div class="content">

        <ul role="tablist" class="nav nav-tabs">
            <li *ngFor="let property of properties.list;let isFirst = first" [class.active]="isFirst" role="presentation">
                <a href=#{{property.tabId}} [attr.data-toggle]="properties.toggleType"><i *ngIf="property.icon" class={{property.icon}}></i>{{property.title}}</a>
            </li>

        </ul>

        <div class="tab-content">
            <div *ngFor="let property of properties.list;let isFirst = first" [class.active]="isFirst" id={{property.tabId}} class="tab-pane">
                {{property.data}}
            </div>

        </div>

    </div>
</div>