<div class="row" *ngIf="customerSummary && supplierSummary && expenseSummary">
    <div class="col-md-12">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Supplier Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-number-card [view]="view" [scheme]="colorScheme" [results]="chartData" (select)="onSelect($event)">
                    </ngx-charts-number-card>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Income</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="customerSummary">Total: {{customerSummary.totalPrice}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Account</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>Sales Total</td>
                                <td *ngIf="customerSummary"> {{customerSummary.totalPrice}} </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --------------------------------- expenses Data--------------- -->
<div class="row">
    <!-- <div class="col-md-6">
     <div class="card">
        <div class="container-fluid">
            <div class="header">Supplier Summary</div>
            <hr>
            <div class="content">
                <ngx-charts-bar-vertical [view]="viewSupplier" [scheme]="colorScheme" [results]="singleSupplierChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
        </div>
     </div>
    </div> -->
    <div class="col-md-12">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Expenses</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="supplierSummary && expenseSummary ">Total: {{(supplierSummary.totalPrice + expenseSummary.totalPrice)}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Account</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Purchases Total</td>
                                    <td *ngIf="supplierSummary"> {{supplierSummary.totalPrice}} </td>
                                </tr>
                                <tr>
                                    <td>Expenses Total</td>
                                    <td *ngIf="expenseSummary"> {{expenseSummary.totalPrice}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------profit loss statment------------------ -->

<div class="row">
    <!-- <div class="col-md-6">
    <div class="card">
        <div class="container-fluid">
            <div class="header">Supplier Summary</div>
            <hr>
            <div class="content">
                <ngx-charts-bar-vertical [view]="viewSupplier" [scheme]="colorScheme" [results]="singleSupplierChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>
 </div> -->
    <div class="col-md-12">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Net Profit and Loss</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="customerSummary && supplierSummary && expenseSummary">Total: {{customerSummary.totalPrice-(supplierSummary.totalPrice + expenseSummary.totalPrice)}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>