<div class="card">
    <div class="container-fluid">

        <div class="row">
            <app-date-rang-picker-lbd (notify)=datePicker($event)></app-date-rang-picker-lbd>
            <div class="col-md-3">
                <div class="help-block text-warning"><b> Please select the date range</b></div>
            </div>
        </div>
        <div class="help-block text-info" *ngIf="dateRangePicker"><b> You have selected from {{dateRangePicker.start}} to {{dateRangePicker.end}}</b>
        </div>
    </div>
</div>
<!-- //----------------- Cusomer Summary---------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Supplier Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-bar-vertical [view]="customer_View" [scheme]="colorScheme" [results]="customer_ChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Supplier List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="customerSummary">Total: {{customerSummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a supplier data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>SupplierName</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of finalCustomerSummary;">
                                    <td>{{entry.itemName}}</td>
                                    <td>{{entry.qty}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------POP Inventory Summary-------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Inventory Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-grid [view]="viewInventoryPOP" [scheme]="colorSchemeInventory" [results]="singleInventoryChartData" (select)="onSelect($event)">

                    </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Inventory List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="inventorySummary">Total: {{inventorySummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a Inventory data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>ItemName</th>
                                    <th>UnitPrice</th>
                                    <th>TotalQty</th>
                                    <!-- <th>Total Price</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of finalInventorySummary;">
                                    <td>{{entry.itemName}}</td>
                                    <td>{{entry.unitPrice}}</td>
                                    <td>{{entry.qty}}</td>
                                    <!-- <td>{{entry.value.sum[1]}}</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------POS posInventory Summary-------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">posInventory Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-grid [view]="posInventory_View" [scheme]="posInventory_colorScheme" [results]="posInventory_ChartData" (select)="onSelect($event)">

                    </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">posInventory List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="posInventorySummary">Total: {{posInventorySummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a posInventory data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>ItemName</th>
                                    <th>UnitPrice</th>
                                    <th>TotalQty</th>
                                    <!-- <th>Total Price</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of finalPosInventorySummary;">
                                    <td>{{entry.itemName}}</td>
                                    <td>{{entry.unitPrice}}</td>
                                    <td>{{entry.qty}}</td>
                                    <!-- <td>{{entry.value.sum[1]}}</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------ Remaing Inventory Summary-------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">posInventory Summary</div>
                <hr>
                <ngx-charts-number-card [view]="view_remQty" [scheme]="colorScheme_remQty" [results]="chartData_remQty" (select)="onSelect($event)">
                </ngx-charts-number-card>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">posInventory List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="posInventorySummary">Total: {{posInventorySummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a posInventory data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>ItemName</th>
                                    <th>Total Qty purchase</th>
                                    <th>Total Qty sale</th>
                                    <th>Remaing Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of remainingInventory;">
                                    <td>{{entry.name}}</td>
                                    <td>{{entry.popQty}}</td>
                                    <td>{{entry.posQty}}</td>
                                    <td>{{entry.remQty}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Supplier Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-bar-vertical [view]="viewSupplier" [scheme]="colorScheme" [results]="singleSupplierChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Supplier List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="supplierSummary">Total: {{supplierSummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a supplier data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>SupplierName</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>%</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of supplierSummary;">
                                    <td>{{entry.key}}</td>
                                    <td>{{entry.value.min}}</td>
                                    <td>{{entry.value.max}}</td>
                                    <td>{{(entry.value.sum/supplierSummary.totalPrice)*100| number:'2.1-2'}}</td>
                                    <td>{{entry.value.sum}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- -------------------POP Purchase Invoice Summary-------- -->
<!-- <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">PurchaseInvoice Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorSchemeA" [results]="invoiceChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabelA"
                        [yAxisLabel]="yAxisLabelA" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">PurchaseInvoice List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="purchaseInvoiceSummary">Total: {{purchaseInvoiceSummary[0].value.sum}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a PurchaseInvoice data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>TotalInvoice</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of purchaseInvoiceSummary;">
                                    <td>{{entry.key}}</td>
                                    <td>{{entry.value.count}}</td>
                                    <td>{{entry.value.min}}</td>
                                    <td>{{entry.value.max}}</td>
                                    <td>{{entry.value.sum}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- -------------------POP Purchase Order Summary-------- -->
<!-- <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">PurchaseOrder Summary</div>
                <hr>
                <div class="content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">PurchaseOrder List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="purchaseOrderSummary">Total: {{purchaseOrderSummary[0].value.sum}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a PurchaseOrder data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Total Order</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of purchaseOrderSummary;">
                                    <td>{{entry.key}}</td>
                                    <td>{{entry.value.count}}</td>
                                    <td>{{entry.value.min}}</td>
                                    <td>{{entry.value.max}}</td>
                                    <td>{{entry.value.sum}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- -------------------Expense  Summary-------- -->
<!-- <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Expense Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-chart [view]="viewExpense" [scheme]="colorSchemeExpense" [results]="expenseChartData" [legend]="showLegendpExpense" [explodeSlices]="explodeSlices" [labels]="showLabelsExpense" [doughnut]="doughnutExpense" [gradient]="gradient" (select)="onSelect($event)">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Expense List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="expenseSummary">Total: {{expenseSummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a Expense data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Expense#</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>%</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of expenseSummary;">
                                    <td>{{entry.key}}</td>
                                    <td>{{entry.value.count}}</td>
                                    <td>{{entry.value.min}}</td>
                                    <td>{{entry.value.max}}</td>
                                    <td>{{(entry.value.sum/expenseSummary.totalPrice)*100| number:'2.1-2'}}</td>
                                    <td>{{entry.value.sum}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->