<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="blue">


        <div class="row">
            <div class="col-md-4"></div>
            <div style="z-index:100000;" class="col-md-4">
                <br>
                <br>
                <br>
                <br>
                <!-- <img src="assets/img/logo123.png" alt=""> -->
                <h1 style="font-size:1000px"><i style="font-size:1000px" class="pe-7s-paperclip"></i >&nbsp; Paper Clip</h1>
                            
                    </div>
                    <div class="col-md-4"></div>

                </div>

            <footer class="footer footer-transparent">
                    <div class="container">
                        <p class="copyright text-center">
                            &copy; 2018 <a>Paper Clip</a>, made with <a>&#10084;</a> </p>
                    </div>
                </footer>
                
                <!-- <app-fixed-plugin [schema]="fixedPluginData"></app-fixed-plugin> -->
                <div class="full-page-background" style="background-image: url(assets/images/full-screen-image-2.jpg);z-index:2"></div>