<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h2 class="title">Permission</h2>
            </div>
            <div class="content">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="fresh-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Company Name</th>
                                <th>Department</th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Company Name</th>
                                <th>Department</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let element of data">
                                <td>{{element.firstName}}</td>
                                <td>{{element.lastName}}</td>
                                <td>{{element.userName}}</td>
                                <td>{{element.email}}</td>
                                <td>{{element.company}}</td>
                                <td>{{element.department}}</td>

                                <td class="text-right">
                                    <a (click)='allow(element,i)' class="btn btn-simple btn-success btn-sm btn-fill btn-icon like"><i class="fa fa-check"></i>Allow</a>
                                    <a (click)='remove(element,i)' class="btn btn-simple btn-danger btn-sm btn-fill btn-icon remove"><i class="fa fa-times"></i>Not Allowed</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end content-->
        </div>
    </div>
</div>