<div *ngIf="Page.title" class="card">
    <div class="header">
        <h4 class="title">
            <span><button style="font-size:50px" class="btn pe-7s-left-arrow btn-simple" (click)="back();"></button></span> {{Page.title}}
        </h4>
        <hr>
    </div>
    <div class="content">
        <form>
            <div *ngFor="let row of Page.rows;let i=index" class="row">
                <div *ngFor="let col of row.col;let k=index" class="{{col.class}}">
                    <div *ngIf="col.data.fieldtype==='input'" class="form-group">
                        <label>{{col.data.label}}</label>
                        <input type="{{col.data.type}}" (keyup)="validate($event,i,k)" [ngClass]="col.data.class" placeholder="{{col.data.placeholder}}" [(ngModel)]="col.data.value" name="{{col.data.name}}">
                        <span *ngIf="col.data.valid===false" class="help-block" style="color:#FB404B">{{col.data.err}}</span>
                    </div>
                    <div *ngIf="col.data.fieldtype==='textarea'" class="form-group">
                        <label>{{col.data.label}}</label>
                        <textarea [rows]="col.data.rows" (keyup)="validate($event,i,k)" [ngClass]="col.data.class" placeholder="{{col.data.placeholder}}" [(ngModel)]="col.data.value" [value]="col.data.value" name="{{col.data.name}}">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>                        <span *ngIf="col.data.valid===false" class="help-block" style="color:#FB404B">{{col.data.err}}</span>
                        <span *ngIf="col.data.valid==='false'" class="help-block" style="color:#FB404B">{{col.data.err}}</span>
                    </div>
                    <div *ngIf="col.data.fieldtype==='datepicker'" class="form-group">
                        <label>{{col.data.label}}</label>
                        <app-datepicker (notify)="date($event)" [schema]="col.data" [updateDate]="udate"></app-datepicker> <span *ngIf="col.data.valid===false" class="help-block" style="color:#FB404B">{{col.data.err}}</span>
                    </div>
                    <app-name-result *ngIf="col.data.fieldtype==='nameresult'" [schema]="col.data.schema" (notify)="nameSelect($event)"></app-name-result>
                    <app-image-uploader *ngIf="col.data.fieldtype==='imageuploader'"></app-image-uploader>
                    <app-addmorestatic *ngIf="col.data.fieldtype==='addmore'" [schema]="col.data.schema" (notify)=addMore($event) [updateValue]="uaddmore"></app-addmorestatic>
                    <app-addmore-sale *ngIf="col.data.fieldtype==='addmoreSale'" [schema]="col.data.schema" (notify)=addMore($event) [updateValue]="uaddmore"></app-addmore-sale>
                    <app-addmore-expense *ngIf="col.data.fieldtype==='addmoreExpense'" [schema]="col.data.schema" (notify)=addMore($event) [updateValue]="uaddmore"></app-addmore-expense>

                </div>
            </div>
            <!-- <input type="file" class="form-conrol"> -->
            <hr>

            <button *ngIf="Page.type==='create'" type="submit" id="submit_btn" (click)="Create()" class="btn btn-info btn-fill btn-sm pull-right">Create {{Page.title}}</button>
            <button *ngIf="Page.type==='update'" type="submit" id="submit_btn" (click)="Update()" class="btn btn-info btn-fill btn-sm pull-right">Update {{Page.title}}</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>