<div class="col-md-4 picker">
    <div>

        <div class="keep-open btn-group">
            <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h" ></i></button> -->
            <!-- <button class="dropdown-toggle" data-toggle="dropdown"> -->
            <div class="input-group dropdown-toggle" data-toggle="dropdown">
                <input id="dateRange" type="text" class="form-control" placeholder="Select Date Range !">
                <span class="input-group-addon"><i class="fa fa-calendar glyphicon glyphicon-calendar"></i></span>
            </div>
            <!-- </button> -->
            <ul class="dropdown-menu" style="right:0px;height:400px;width:700px;position:absolute;padding:10px;" role="menu">
                <div class="row">
                    <div class="col-md-3">
                        <div class="">
                            <br>
                            <button class="btn btn-block" (click)="getvalues('today');">Today</button>
                            <button class="btn btn-block" (click)="getvalues('yesterday');">Yesterday</button>
                            <button class="btn btn-block" (click)="getvalues('last7');">Last 7 Days</button>
                            <!-- <button class="btn btn-block" (click)="getvalues('thismonth');">This Month</button> -->
                            <!-- <button class="btn btn-block" (click)="getvalues('lastmonth');">Last Month</button> -->
                            <!-- <button class="btn btn-block" (click)="getvalues('custom');" >Custom Range</button> -->
                            <br>
                            <br>
                            <br>
                            <button class="btn btn-success btn-fill btn-block" (click)="getvalues('custom');">Set Custom Range</button>
                        </div>
                    </div>
                    <div class="col-md-4" *ngFor="let element of datetime">
                        <h4 class="title">{{element.title}}</h4>
                        <!-- <app-datepicker [schema]="element"></app-datepicker> -->
                        <div class="form-group">
                            <input type="text" id={{element.id}} class="form-control {{element.class}}" [placeholder]="element.placeholder" style="display:none">
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

</div>