.table .tr-item .tr-controls {
    position: fixed;
    // width: 60%;
    width: 500px;
    height: 70px;
    right: -100%;
    // top: 0px;
    // padding: 5px 15px;
    background: #f5f5f5;
    transition: 200ms;
    line-height: 64px;
    // background: linear-gradient(to left, #4087ea 0%, #ffffff 100%);
    // border-top-left-radius: 50px;
    // border-bottom-left-radius: 50px;
    // display: none;
}

.table .tr-item:hover .tr-controls {
    // display: block;
    transition: 200ms;
    right: 0;
}

.table .tr-item .tr-controls a {
    margin-right: 10px;
}