<div class="row">
    <div class="col-md-12 ">
        <div class="fresh-table" [@cardtable2]>
            <div class="bootstrap-table">
                <div class="fixed-table-toolbar">
                    <div class="bars pull-left">
                        <div class="toolbar">
                            <button type="button" class="btn" routerLink='../validform' (click)="create()">Create</button>
                        </div>
                    </div>
                    <div class="columns columns-right pull-right">
                        <button *ngIf="viewOption.refresh" class="btn btn-default" (click)="refresh()" type="button" name="refresh" title="Refresh"><i class="glyphicon fa fa-refresh"></i></button>
                        <button *ngIf="viewOption.gridView" class="btn btn-default" type="button" name="toggle" (click)="toggleView(!toggleVar)" title="Toggle"><i class="glyphicon fa fa-th-list"></i></button>
                        <div *ngIf="viewOption.colView" class="keep-open btn-group" title="Columns">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon fa fa-columns"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <!-- <li><label><input type="checkbox" checked="checked"> ID</label></li> -->
                                <ng-container *ngFor="let row of schema.rows;let i=index">

                                    <li *ngFor="let col of row.col;let j=index">
                                        <label>
                                    <input  (change)="showCol(col,$event.target.checked)" [name]="col.data.name" type="checkbox"  [checked]="col.data.showCol">
                                    {{col.data.name}}
                                </label>
                                    </li>
                                </ng-container>
                                <li><label><input type="checkbox" (change)="showAction($event.target.checked)" [checked]="schema.table.options.display"> Actions</label></li>
                            </ul>
                        </div>
                        <div *ngIf="viewOption.export" class="keep-open btn-group" title="More Options">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h" ></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a>Upload Table As Json</a></li>
                                <li><a> Upload Table As Excel</a></li>
                                <li><a> Import As Json</a></li>
                                <li><a> Import As Excel</a></li>
                                <li><a> Export As Json</a></li>
                                <li><a> Export As Excel</a></li>
                                <li><a> Export As PDF</a></li>
                                <li><a> Delete Table</a></li>


                            </ul>
                        </div>
                        <button *ngIf="viewOption.settings" class="btn btn-default pull-right" type="button" title="Settings"><i style="font-size:18px" class="pe-7s-tools"></i></button>

                    </div>

                    <app-table-search *ngIf="viewOption.search" (returnSearchData)="search($event)" [schema]="searchInputObject">
                    </app-table-search>
                    <app-date-rang-picker-lbd *ngIf="viewOption.dateRange">
                    </app-date-rang-picker-lbd>
                </div>
                <div class="fixed-table-container" style="padding-bottom: 0px;">
                    <div class="fixed-table-header" style="display: none;">
                        <table></table>
                    </div>
                    <div class="fixed-table-body">
                        <div class="fixed-table-loading" style="top: 45px;">Loading, please wait...</div>
                        <table *ngIf="!toggleVar;else listView" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <!-- <th>
                                        <div>#</div>
                                    </th> -->
                                    <ng-container *ngFor="let row of schema.rows">
                                        <th *ngFor="let col of row.col">
                                            <div *ngIf="col.data.showCol">{{col.data.label | uppercase}}</div>
                                        </th>
                                    </ng-container>
                                    <!-- <th class="pull-right">
                                        <div *ngIf="schema.table.options.display">Actions &nbsp;&nbsp;&nbsp;</div>
                                    </th> -->
                                    <th>
                                        <div *ngIf="schema.table.status ">Status</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-item" *ngFor="let ele of dataArray;let i=index">
                                    <!-- <td>
                                        <p>#</p>
                                        <p>{{indexx(i)}}</p>
                                    </td> -->
                                    <ng-container *ngFor="let row of schema.rows">
                                        <td *ngFor="let element of row.col">
                                            <p *ngIf="element.data.showCol">{{ele[element.data.name] | slice:0:7}}</p>
                                        </td>
                                    </ng-container>
                                    <td>
                                        <a *ngIf="schema.table.status " class="btn btn-xs {{ele.status.color}} btn-fill" type="button">{{ele.status.type}}</a>

                                    </td>
                                    <div class="tr-controls">
                                        <div class="pull-right">
                                            <a *ngIf="schema.table.status " (click)="status(ele)" class="btn btn-xs {{ele.status.color}} btn-fill" type="button">{{ele.status.type}}</a>
                                            <!-- <a  class="table-action edit"><i class="fa fa-send"></i></a> -->
                                            <!-- <a *ngIf="schema.table.options.rowView && schema.table.options.display" (click)="view(ele)" routerLink='../view' class="table-action edit" type="button"><i class="fa fa-print"></i></a> -->
                                            <a *ngIf="ele.edited" class="table-action edit" type="button"><i class="fa fa-edit"></i></a>
                                            <!-- <a *ngIf="schema.table.options.rowView && schema.table.options.display" (click)="view(ele)" routerLink='../view' style="color:#447DF7" class="table-action edit" type="button"><i class="fa fa-history"></i></a> -->
                                            <a *ngIf="schema.table.options.send && schema.table.options.display" (click)="view(ele)" routerLink='../view' style="color:#23CCEF" class="table-action edit" type="button"><i class="fa fa-send"></i></a>
                                            <a *ngIf="schema.table.options.rowView && schema.table.options.display" (click)="view(ele)" routerLink='../view' style="color:#aa23ef" class="table-action edit" type="button"><i class="fa fa-print"></i></a>
                                            <a *ngIf="schema.table.options.rowUpdate && schema.table.options.display" (click)="update(ele)" routerLink='../validform' style="color:#FFA534" class="table-action edit" type="button"><i class="fa fa-edit"></i></a>
                                            <a *ngIf="schema.table.options.rowDelete && schema.table.options.display" rel="tooltip" (click)="remove(ele,i)" title="Remove" style="color:#FB404B" class="table-action remove"><i class="fa fa-remove"></i></a>
                                        </div>
                                    </div>
                                </tr>

                            </tbody>
                        </table>
                        <ng-template #listView>
                            <table class="table table-hover table-striped">
                                <tbody class="__web-inspector-hide-shortcut__">
                                    <tr *ngFor="let ele of dataArray;let i=index">
                                        <td colspan="6">
                                            <!-- <div class="card-view"> -->
                                            <!-- <span class="title">#</span> -->
                                            <!-- <span class="value">{{i+1}}</span> -->
                                            <!-- </div> -->

                                            <ng-container *ngFor="let row of schema.rows">
                                                <ng-container *ngFor="let col of row.col">
                                                    <div class="card-view">
                                                        <span *ngIf="col.data.showCol" class="title">{{col.data.label | uppercase}}</span>
                                                        <span class="value" *ngIf="col.data.showCol">{{ele[col.data.name] | slice:0:7}}</span>
                                                    </div>
                                                </ng-container>
                                            </ng-container>


                                            <div *ngIf="schema.table.options.display" class="card-view"><span class="title">Actions</span>
                                                <span class="value">
                                                    
                                                    <a *ngIf="schema.table.options.rowUpdate" (click)="update(ele)" routerLink='../validform' class="table-action edit" type="button"><i class="fa fa-edit"></i></a>
                                                    <a *ngIf="schema.table.options.rowDelete" rel="tooltip" (click)="remove(ele,i)" title="Remove" class="table-action remove"><i class="fa fa-remove"></i></a>                    
                                                </span>
                                            </div>


                                            <div *ngIf="schema.table.status" class="card-view"><span class="title">Status</span>
                                                <span class="value">
                                                    <a  (click)="status(ele)" class="btn btn-xs {{ele.status.color}} btn-fill" type="button">{{ele.status.type}}</a>  
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </ng-template>
                    </div>
                    <div class="fixed-table-footer" style="display: none;">
                        <table>
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fixed-table-pagination">
                        <app-visible-row (returnVisibleRowsData)="getpagelimit($event)" [schema]="visibleRowsInputObject"></app-visible-row>
                        <app-pagination [totalObjects]="totalObjects" [pageLimit]="setpagelimit" (pageNum)="pagination($event)"></app-pagination>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
</div>