<select [style.width]="schema.width" #value (blur)="getValue()" [name]="schema.name" [attr.id]="currentClass" [ngClass]="currentClass">
    <option value="one">First</option>
    <option value="two">Second </option>
    <option value="three">Third</option>
    <option value="pencil">pencil</option>
  </select>