<form class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div *ngFor="let element of schema.form">
                <div *ngIf="element.aline==='left'" class="form-group">
                    <div *ngIf="element.aline==='left'" class="col-md-3"><b>{{element.name | uppercase}} :</b></div>
                    <div *ngIf="element.fieldtype==='input' && element.aline==='left'" class="col-md-9">
                        <input type="{{element.type}}" placeholder="{{element.placeholder}}" class="form-control">
                        <!-- <span class="text-danger" *ngIf="!Form.controls[element.name].valid && Form.controls[element.name].touched">{{element.err}}</span> -->
                    </div>
                    <div *ngIf="element.fieldtype==='date' && element.aline==='left'" class="col-md-9">
                        <div class="datepicker-custom">
                            <app-datepicker [schema]="element.schema"></app-datepicker>
                        </div>

                    </div>
                    <div *ngIf="element.fieldtype==='lang' && element.aline==='left'" class="col-md-9">
                        <app-c-select [schema]="element.schema" (notify)="selectValue($event)"></app-c-select>
                    </div>
                    <div *ngIf="element.fieldtype==='color' && element.aline==='left'" class="col-md-9">
                        <app-c-select [schema]="element.schema" (notify)="selectValue($event)"></app-c-select>
                    </div>
                    <div *ngIf="element.fieldtype==='range' && element.aline==='left'" class="col-md-9">
                        <div class="rangeslider-custom">
                            <app-range-slider [options]="element.schema"></app-range-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div *ngFor="let element of schema.form">
                <div *ngIf="element.aline==='right'" class="form-group">
                    <div *ngIf="element.aline==='right'" class="col-md-3"><b>{{element.name | uppercase}} :</b></div>
                    <div *ngIf="element.fieldtype==='input' && element.aline==='right'" class="col-md-9">
                        <input type="{{element.type}}" placeholder="{{element.placeholder}}" class="form-control">
                        <!-- <span class="text-danger" *ngIf="!Form.controls[element.name].valid && Form.controls[element.name].touched">{{element.err}}</span> -->
                    </div>
                    <div *ngIf="element.fieldtype==='date' && element.aline==='right'" class="col-md-9">
                        <div class="datepicker-custom">
                            <app-datepicker [schema]="element.schema"></app-datepicker>
                        </div>

                    </div>
                    <div *ngIf="element.fieldtype==='lang' && element.aline==='right'" class="col-md-9">
                        <app-c-select [schema]="element.schema"></app-c-select>
                    </div>
                    <div *ngIf="element.fieldtype==='color' && element.aline==='right'" class="col-md-9">
                        <app-c-select [schema]="element.schema"></app-c-select>
                    </div>
                    <div *ngIf="element.fieldtype==='range' && element.aline==='right'" class="col-md-9">
                        <div class="rangeslider-custom">
                            <app-range-slider [options]="element.schema"></app-range-slider>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div *ngFor="let element of array;let i=index">
            <a *ngIf="array.length > 1" (click)="delete(i)"><i class="fa fa-close pull-right"></i></a>
            <br>
            <div class="col-md-1"><b>Add:</b></div>
            <div class="col-md-3"><input type="text" class="form-control"></div>
            <div class="col-md-2"><input type="text" class="form-control"></div>
            <div class="col-md-3"><input type="text" class="form-control"></div>
            <div class="col-md-3"><input type="text" class="form-control"></div>
            <br>
            <br>
            <br>
        </div>
        <button (click)="more()" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>
    </div>
    <button class="btn btn-fill btn-sm btn-info" style="margin-right:30px;">Submit</button>

</form>