<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Todo Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single" (select)="onSelect($event)">
                    </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Todo Summary</div>
                <hr>
                <div class="content">
                    <p>
                        todo-summary works!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>