<!-- <ul class="nav {{ navbarClass }}">
    <li *ngFor="let item of navItems" class="nav-item" [routerLinkActive]="item.routerLink ? 'active' : ''" [class.dropdown]="item.dropdownItems">
        <a [routerLink]="item.routerLink || []" [class.dropdown-toggle]="item.dropdownItems" [attr.data-toggle]="item.dropdownItems ? 'dropdown' : null">
            <i [ngClass]="item.iconClass"></i>
            <p>
                {{ item.title }}
                <b *ngIf="item.dropdownItems" class="caret"></b>
            </p>
        </a>
        <ul *ngIf="item.dropdownItems" class="dropdown-menu">
            <li *ngFor="let dropdownItem of item.dropdownItems" [class.divider]="dropdownItem === 'separator'">
                <a *ngIf="dropdownItem.title" [routerLink]="dropdownItem.routerLink || []">{{ dropdownItem.title }}</a>
            </li>
        </ul>
    </li>
    <li *ngIf="showSeparator" class="separator hidden-lg hidden-md"></li>
</ul> -->

<!-- <ul class="nav"> -->
<!-- <li *ngFor="let item of navItems">
        <a [routerLinkActive]="item.routerLink ? 'active' : ''">
            <i [ngClass]="item.iconClass"></i>
            <p>{{item.title}}</p>
        </a>
    </li> -->
<!-- <li>
        <a data-toggle="collapse" href="#componentsExamples" aria-expanded="true">
            <i class="pe-7s-plugin"></i>
            <p>Components
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse in" id="componentsExamples">
            <ul class="nav">
                <li><a [routerLink]="['/holder/buttons']">Buttons</a></li>
                <li><a [routerLink]="['/holder/gridsystem']">Grid System</a></li>
                <li><a [routerLink]="['/holder/icon']">Icons</a></li>
                <li><a [routerLink]="['/holder/noti']">Notifications</a></li>
                <li><a [routerLink]="['/holder/panels']">Panels</a></li>
                <li><a [routerLink]="['/holder/sweetalerts']">Sweet Alert</a></li>
                <li><a [routerLink]="['/holder/typo']">Typography</a></li>
            </ul>
        </div>
    </li> -->

<!-- </ul> -->
<li>
    <a [routerLink]="['/holder/dashboard']">
        <i class="pe-7s-graph"></i>
        <p>Dashboard</p>
    </a>
</li>