<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h2 class="title">Server Setting</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Your IP</label>
                            <input type="text" [(ngModel)]="localIP" placeholder="Enter Your IP" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Remote IP</label>
                            <input type="text" [(ngModel)]="remoteIP" placeholder="Enter Remote IP" class="form-control">
                        </div>
                    </div>
                </div>
                <button (click)="submit()" class="btn btn-fill btn-sm btn-info pull-right">Go</button>
                <br>
                <br>
            </div>
            <!-- end content-->
        </div>
    </div>
</div>