<div class="sidebar" [attr.data-color]="schema.sidebarMeta.backgroundColor" [attr.data-image]="schema.sidebarMeta.backgroundImg || null">
    <!-- particles.js container -->
    <!-- <div id="particles-js"></div> -->
    <div class="logo">
        <a class="logo-text">
            {{schema.sidebarMeta.headerTextFull}}
        </a>
    </div>
    <div class="logo logo-mini">
        <a class="logo-text">
                {{schema.sidebarMeta.headerTextMini}}
            </a>
    </div>

    <div class="sidebar-wrapper">

        <div class="user">
            <div class="photo">
                <img [src]='schema.sidebarMeta.headerLogoImg'>
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        {{schema.logoDropdown.header}}
                <b class="caret" style="margin-left: 109px;"></b></a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li *ngFor="let item of schema.logoDropdown.list"><a [routerLink]="item.link">{{item.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            <li *ngFor="let item of schema.sidenavItems" [routerLinkActive]="['active']">
                <a data-toggle="collapse" href=#{{item.href}} *ngIf="item.sub; else router123">
                    <i [ngClass]="item.iconClass"></i>
                    <p>{{item.title}}
                        <b *ngIf="item.sub" class="caret"></b>
                    </p>
                </a>
                <ng-template #router123>
                    <a [routerLink]=item.routerLink>
                        <i [ngClass]="item.iconClass"></i>
                        <p>{{item.title}}
                            <b *ngIf="item.sub" class="caret"></b>
                        </p>
                    </a>
                </ng-template>
                <div *ngIf="item.sub" class="collapse" id={{item.href}}>
                    <ul class="nav">
                        <li *ngFor="let subitem of item.sub" [routerLinkActive]="['active']">
                            <a [routerLink]="subitem.routerLink">{{subitem.title}}</a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>