<h4 class="title text-center">{{properties.title}}</h4>
<br>
<div class="nav-container">
    <ul class="nav nav-icons" role="tablist">
        <li *ngFor="let property of properties.list;let isFirst = first" [class.active]="isFirst">
            <a href=#{{property.tabId}} role="tab" data-toggle="tab">
                <i class={{property.icon}}></i><br> {{property.iconTitle}}
            </a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div *ngFor="let property of properties.list;let isFirst = first" [class.active]="isFirst" class="tab-pane" id={{property.tabId}}>
        <div class="card">
            <div class="header">
                <h4 class="title">{{property.header}}</h4>
                <p class="category">{{property.subTitle}}</p>
            </div>

            <div class="content">
                <p>{{property.data}}</p>
            </div>
        </div>
    </div>

</div>
<!-- end tab content -->