<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">Light Bootstrap Dashboard PRO</a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">

    <div class="full-page lock-page" data-color="red" [attr.data-image]="'../../../assets/images/full-screen-image-1.jpg'">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <form method="#" action="#">
                <div class="user-profile">
                    <div class="author">
                        <img class="avatar" src="assets/images/default-avatar.png" alt="...">
                    </div>
                    <h4>Tania Andrew</h4>
                    <div class="form-group">
                        <input type="password" placeholder="Enter Password" class="form-control">
                    </div>
                    <button type="button" class="btn btn-neutral btn-round btn-fil btn-wd">Unlock</button>
                </div>
            </form>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                              Home
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Company
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Portfolio
                          </a>
                        </li>
                        <li>
                            <a href="#">
                             Blog
                          </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="index_1.html">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>

</div>
<div class="full-page-background" style="background-image: url(assets/images/full-screen-image-1.jpg) "></div>
<app-fixed-plugin [schema]="fixedPluginData"></app-fixed-plugin>