<div class="wrapper">
    <app-sidebar [schema]="sidebarData"></app-sidebar>
    <div class="main-panel">
        <app-navbar [navItems]="navItems"></app-navbar>

        <div class="content">
            <div class="container-fluid">

                <router-outlet></router-outlet>


            </div>
        </div>

        <app-footer></app-footer>

    </div>
</div>



<!-- <app-fixed-plugin [schema]="fixedPluginData"></app-fixed-plugin> -->