<!-- <div class="pull-right pagination">
    <ul class="pagination">
        <li [attr.id]="'first'" class="page-first"><a (click)="navButton('first')">«</a></li>
        <li [attr.id]="'pre'" class="page-pre"><a (click)="navButton('pre')">‹</a></li>
        <li [attr.id]="'page'+pag" class="page-number" *ngFor=" let pag of totalPages"><a (click)="pageNumber(pag)">{{pag}}</a></li>
        <li [attr.id]="'next'" class="page-next"><a (click)="navButton('next')">›</a></li>
        <li [attr.id]="'last'" class="page-last"><a (click)="navButton('last')">»</a></li>
    </ul>
</div> -->
<div id="paginate"></div>