<label for="file-upload" class="custom-file-upload">
  <i class="fa fa-cloud-upload"></i> Custom Upload
</label>
<input id="file-upload" type="file" (change)="uploaded($event)" />
<div *ngIf="imagedata">
    <p>size:{{imagedata.name}}</p>
    <p>size:{{imagedata.type}}</p>
    <p>size:{{imagedata.size}}</p>
</div>
<!-- <img *ngIf="imagedata" [src]="'data:'+imagedata.files.content_type+';base64,'+imagedata.files.data"> -->
<img *ngIf="img" [src]="synt">