<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>{{schema.view}}</label>
            <select class="js-data-example form-control">
<option value="{{result}}">{{firstoption}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{schema.resultvalue}}</label>
            <span *ngIf="result" class="help-block text-success">{{result}}</span>
        </div>
    </div>
</div>