<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Earing</label>
            <input type="text" class="{{earningobj.name.class}}" (keyup)="change(earningobj.name,'earningobjbtn')" [(ngModel)]="earningobj.name.value" placeholder="name">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Discription</label>
            <input type="text" class="{{earningobj.discp.class}}" (keyup)="change(earningobj.discp,'earningobjbtn')" [(ngModel)]="earningobj.discp.value" placeholder="discription">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="{{earningobj.qty.class}}" (keyup)="change(earningobj.qty,'earningobjbtn')" [(ngModel)]="earningobj.qty.value" placeholder="qty">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Rate</label>
            <input type="text" class="{{earningobj.rate.class}}" (keyup)="change(earningobj.rate,'earningobjbtn')" [(ngModel)]="earningobj.rate.value" placeholder="rate">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" [(ngModel)]="earningobj.amount.value" placeholder="amount" disabled>
        </div>
    </div>
</div>
<div class="row">
    <button (click)="earningadd()" [disabled]="earningobjbtn" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>
</div>

<div class="content table-responsive table-full-width">
    <table class="table table-hover">
        <thead>
            <tr *ngIf="earningarray.length > 0">
                <th>#</th>
                <th>Earing</th>
                <th>Discription</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of earningarray;let i=index">
                <td>{{i+1}}</td>
                <td>{{element.name.value | slice:0:7}}</td>
                <td>{{element.discp.value | slice:0:7}}</td>
                <td>{{element.qty.value }}</td>
                <td>{{element.rate.value }}</td>
                <td>{{element.amount.value }}</td>
                <td><a style="color:red" *ngIf="earningarray.length > 0" (click)="earningremove(i)"><i class="fa fa-close pull-right"></i></a></td>
            </tr>
            <tr *ngIf="earningarray.length > 0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b class="pull-right">Total: </b></td>
                <td>{{total}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Deduction</label>
            <input type="text" class="{{deductionobj.name.class}}" (keyup)="change()" [(ngModel)]="deductionobj.name.value" placeholder="name">
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label>Discription</label>
            <input type="text" class="{{deductionobj.discp.class}}" (keyup)="change()" [(ngModel)]="deductionobj.discp.value" placeholder="discription">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" [(ngModel)]="deductionobj.amount.value" placeholder="amount">
        </div>
    </div>
</div>
<div class="row">
    <button (click)="deductionadd()" [disabled]="deductionobjbtn" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>
</div>

<div class="content table-responsive table-full-width">
    <table class="table table-hover">
        <thead>
            <tr *ngIf="deductionarray.length > 0">
                <th>#</th>
                <th>Deduction</th>
                <th>Discription</th>>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of deductionarray;let i=index">
                <td>{{i+1}}</td>
                <td>{{element.name.value | slice:0:7}}</td>
                <td>{{element.discp.value | slice:0:7}}</td>
                <td>{{element.amount.value }}</td>
                <td><a style="color:red" *ngIf="deductionarray.length > 0" (click)="deductionremove(i)"><i class="fa fa-close pull-right"></i></a></td>
            </tr>
            <tr *ngIf="deductionarray.length > 0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b class="pull-right">Total: </b></td>
                <td>{{total}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Contribution</label>
            <input type="text" class="{{contributionobj.name.class}}" (keyup)="change()" [(ngModel)]="contributionobj.name.value" placeholder="name">
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label>Discription</label>
            <input type="text" class="{{contributionobj.discp.class}}" (keyup)="change()" [(ngModel)]="contributionobj.discp.value" placeholder="discription">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" [(ngModel)]="contributionobj.amount.value" placeholder="amount">
        </div>
    </div>
</div>
<div class="row">
    <button (click)="contributionadd()" [disabled]="contributionobjbtn" class="btn btn-fill btn-sm btn-success btn-round pull-right" style="margin-right:30px; font-size:13px">+</button>
</div>

<div class="content table-responsive table-full-width">
    <table class="table table-hover">
        <thead>
            <tr *ngIf="contributionarray.length > 0">
                <th>#</th>
                <th>Contribution</th>
                <th>Discription</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of contributionarray;let i=index">
                <td>{{i+1}}</td>
                <td>{{element.name.value | slice:0:7}}</td>
                <td>{{element.discp.value | slice:0:7}}</td>
                <td>{{element.amount.value }}</td>
                <td><a style="color:red" *ngIf="contributionarray.length > 0" (click)="eontributioremove(i)"><i class="fa fa-close pull-right"></i></a></td>
            </tr>
            <tr *ngIf="contributionarray.length > 0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b class="pull-right">Total: </b></td>
                <td>{{total}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>