// .bootstrap-timepicker-widget.dropdown-menu {
//     z-index: 99999!important;
// }
.form-group {
    position: relative;
}

input.valid {
    border: 1px solid #87CB16;
    color: #87CB16;
}

input.invalid {
    border: 1px solid #FB404B;
    color: #FB404B;
}

.valid {
    color: #87CB16;
}