<div *ngIf="schema.enable!=='now'; else noow" class="form-group">
    <input type="text" class="form-control {{schema.class}} datetimepicker" (blur)="getDate(value.value,schema.name)" [placeholder]="schema.placeholder" [value]="updateDate" #value>
</div>
<ng-template #noow>
    <div class="form-group">
        <p><b class="valid">{{nowdate.value}}</b></p>
    </div>
</ng-template>