<ul *ngIf="navItems" class="nav navbar-nav {{ navbarClass }}">
    <li *ngFor="let item of navItems;" [ngClass]="item.listClass">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i [ngClass]="item.iconClass"></i>
            <span *ngIf="item.numNotifications" class="notification">{{item.dropdownItems.length}}</span>

            <p *ngIf="mobNav || item.titleShow; else mob">{{item.title}}
                <b *ngIf="item.dropdownItems" class="caret"></b>

            </p>
            <ng-template #mob>
                <p class="hidden-md hidden-lg">{{item.title}}
                    <b *ngIf="item.dropdownItems" class="caret"></b>

                </p>
            </ng-template>
        </a>
        <ul *ngIf="item.dropdownItems" [ngClass]="item.dropdownClass">
            <li *ngFor="let sub of item.dropdownItems" [class.divider]="sub === 'separator'">
                <a *ngIf="sub.title!=='Log out';else log" [routerLink]="sub.routerLink" [style.padding]="padding" [ngClass]="sub.class">
                    <i *ngIf="sub.icon" [ngClass]="sub.icon" [style.font-size]="'24px'" [style.width]="'26px'" [style.vertical-align]="'middle'"></i> {{sub.title}}
                </a>
                <ng-template #log>
                    <a (click)="logout()" [style.padding]="padding" [ngClass]="sub.class">
                        <i *ngIf="sub.icon" [ngClass]="sub.icon" [style.font-size]="'24px'" [style.width]="'26px'" [style.vertical-align]="'middle'"></i> {{sub.title}}
                    </a>
                </ng-template>
            </li>
        </ul>
    </li>
</ul>