<div class="col-md-12">
    <div class="card">
        <div class="container-fulid">


            <div class="header">
                <button class="btn btn-fill btn-sm" (click)="back();">Back</button>&nbsp;&nbsp;&nbsp;&nbsp; {{schema.table.view | uppercase}}
                <!-- <button class="btn btn-default pull-right" type="button" title="Settings"><i style="font-size:18px" class="pe-7s-tools"></i></button> -->

            </div>
            <hr>
            <div class="content">
                <!-- <app-t-form [schema]="exp"></app-t-form> -->
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div *ngFor="let element of schema.form">
                                <div *ngIf="element.aline==='left'" class="form-group">
                                    <div *ngIf="element.aline==='left'" class="col-md-4"><b style="font-size:13px">{{element.name | uppercase}} :</b></div>
                                    <div *ngIf="element.fieldtype==='input' && element.aline==='left'" class="col-md-8">
                                        <input type="{{element.type}}" placeholder="{{element.placeholder}}" [(ngModel)]="formValues[element.name]" name={{element.name}} class="form-control">
                                        <!-- <p *ngIf="field.errors?.rangeLength">{{element.err}}</p> -->
                                        <!-- <span class="text-danger" *ngIf="!Form.controls[element.name].valid && Form.controls[element.name].touched">{{element.err}}</span> -->
                                    </div>
                                    <div *ngIf="element.fieldtype==='date' && element.aline==='left'" class="col-md-8">
                                        <div class="datepicker-custom">
                                            <app-datepicker (notify)="date($event)" [schema]="element" [updateDate]="udate"></app-datepicker>
                                        </div>

                                    </div>
                                    <div *ngIf="element.fieldtype==='sselect' && element.aline==='left'" class="col-md-8">
                                        <app-c-select [schema]="element" (notify)="select($event)" [updateValue]="uSselect"></app-c-select>
                                    </div>
                                    <div *ngIf="element.fieldtype==='mselect' && element.aline==='left'" class="col-md-8">
                                        <app-c-select [schema]="element" (notify)="mselect($event)"></app-c-select>
                                    </div>
                                    <div *ngIf="element.fieldtype==='range' && element.aline==='left'" class="col-md-8">
                                        <div class="rangeslider-custom">
                                            <app-range-slider [options]="element.schema"></app-range-slider>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="element.fieldtype==='select2' && element.aline==='left'" class="col-md-8">
                                        <app-select2 [schema]="element" (notify)="select2($event)" [updateValue]="uSelect2"></app-select2>
                                    </div> -->
                                    <div *ngIf="element.fieldtype==='searchselect' && element.aline==='left'" class="col-md-8">
                                        <app-searchselect [schema]="element" (notify)="searchselect($event)"></app-searchselect>
                                    </div>
                                    <div *ngIf="element.fieldtype==='typeAhead' && element.aline==='left'" class="col-md-8">
                                        <app-typeahead [schema]="element" (notify)="typeAhead($event) " [updateValue]="utypeAhead"></app-typeahead>
                                    </div>


                                    <div *ngIf="element.fieldtype==='textarea'" class="{{element.colclass}}">
                                        <!-- <input #value type="{{element.type}}" (blur)="getValue(i,j)" name="{{element.name}}" [(ngModel)]="element.value" placeholder="{{element.placeholder}}" class="form-control"> -->
                                        <textarea name="{{element.name}}" class="textarea" [(ngModel)]="element.value" placeholder="{{element.placeholder}}" cols="40" rows="4"></textarea>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div *ngFor="let element of schema.form">
                                <div *ngIf="element.aline==='right'" class="form-group">
                                    <div *ngIf="element.aline==='right'" class="col-md-4"><b style="font-size:13px">{{element.name | uppercase}} :</b></div>
                                    <div *ngIf="element.fieldtype==='input' && element.aline==='right'" class="col-md-8">
                                        <input type="{{element.type}}" placeholder="{{element.placeholder}}" [(ngModel)]="formValues[element.name]" name={{element.name}} class="form-control">
                                        <!-- <span class="text-danger" *ngIf="!Form.controls[element.name].valid && Form.controls[element.name].touched">{{element.err}}</span> -->
                                    </div>
                                    <div *ngIf="element.fieldtype==='date' && element.aline==='right'" class="col-md-8">
                                        <div class="datepicker-custom">
                                            <app-datepicker (notify)="date($event)" [schema]="element" [updateDate]="udate"></app-datepicker>
                                        </div>

                                    </div>
                                    <div *ngIf="element.fieldtype==='sselect' && element.aline==='right'" class="col-md-8">
                                        <app-c-select [schema]="element" (notify)="select($event)" [updateValue]="uSselect"></app-c-select>
                                    </div>
                                    <div *ngIf="element.fieldtype==='mselect' && element.aline==='right'" class="col-md-8">
                                        <app-c-select [schema]="element" (notify)="mselect($event)"></app-c-select>
                                    </div>
                                    <div *ngIf="element.fieldtype==='range' && element.aline==='right'" class="col-md-8">
                                        <div class="rangeslider-custom">
                                            <app-range-slider [options]="element.schema"></app-range-slider>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="element.fieldtype==='select2' && element.aline==='right'" class="col-md-8">
                                        <app-select2 [schema]="element" (notify)="mselect($event)" [updateValue]="uSelect2"></app-select2>
                                    </div> -->
                                    <div *ngIf="element.fieldtype==='searchselect' &&  element.aline==='right'" class="col-md-8">
                                        <app-searchselect [schema]="element" (notify)="searchselect($event)"></app-searchselect>
                                    </div>
                                    <div *ngIf="element.fieldtype==='typeAhead' && element.aline==='right'" class="col-md-8">
                                        <app-typeahead [schema]="element" (notify)="mselect($event)" [updateValue]="utypeAhead"></app-typeahead>
                                    </div>
                                    <div *ngIf="element.fieldtype==='textarea'" class="{{element.colclass}}">
                                        <!-- <input #value type="{{element.type}}" (blur)="getValue(i,j)" name="{{element.name}}" [(ngModel)]="element.value" placeholder="{{element.placeholder}}" class="form-control"> -->
                                        <textarea name="{{element.name}}" class="textarea" [(ngModel)]="element.value" placeholder="{{element.placeholder}}" cols="40" rows="4"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div *ngFor="let element of schema.form">
                        <app-name-result *ngIf="element.fieldtype==='nameresult'" [schema]="element" (notify)="nameSelect($event)"></app-name-result>
                        <!-- <app-addmore *ngIf="element.aline==='full' && element.fieldtype==='addmore'" [schema]="element" (notify)=addMore($event) [updateValue]="uaddmore"></app-addmore> -->
                        <app-addmorestatic *ngIf="element.aline==='full' && element.fieldtype==='addmore'" [schema]="element" (notify)=addMore($event) [updateValue]="uaddmore"></app-addmorestatic>

                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <hr>
                        <button class="btn btn-fill btn-sm btn-info pull-right" (click)="submit(); " style="margin-right:30px;">Submit</button>
                        <button class="btn btn-fill btn-sm btn-info pull-right" (click)="update(); " style="margin-right:30px;">update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>