.rangeslider-custom {
    max-width: 360px;
}

.datepicker-custom {
    margin-left: 15px;
    max-width: 295px;
    // position: relative;
}

.textarea {
    line-height: 20px;
    border-color: #dfe0e0;
    border-radius: 4px;
}

// .select2-container .select2-selection--single {
//     height: 34px;
//     width: 370px;
// }
// .select2 .select2-container .select2-container--default .select2-container--below .select2-container--above .select2-container--open {
//     width: 370px;
// }
// .scrolling-content {
//     position: relative;
// }