<div class="row">
    <div class="col-md-12 ">
        <div class="fresh-table">
            <div class="bootstrap-table">
                <div class="fixed-table-toolbar">
                    <div class="bars pull-left">
                        <div class="toolbar">
                            <!-- <app-modal [static]="createModal" [schema]="experiment">
                                <app-form [schema]="experiment" (csubmit)="submit($event)"></app-form>
                            </app-modal> -->
                            <button type="button" class="btn" routerLink='../temform' (click)="create()">Create</button>
                            <!-- <app-form-modal [static]="createModal" [schema]="experiment"></app-form-modal> -->
                        </div>
                    </div>
                    <div class="columns columns-right pull-right">
                        <button *ngIf="viewOption.refresh" class="btn btn-default" (click)="refresh()" type="button" name="refresh" title="Refresh"><i class="glyphicon fa fa-refresh"></i></button>
                        <button *ngIf="viewOption.gridView" class="btn btn-default" type="button" name="toggle" (click)="toggleView(!toggleVar)" title="Toggle"><i class="glyphicon fa fa-th-list"></i></button>
                        <div *ngIf="viewOption.colView" class="keep-open btn-group" title="Columns">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon fa fa-columns"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><label><input type="checkbox" checked="checked"> ID</label></li>

                                <li *ngFor="let element of experiment.form;let i=index"><label><input  (change)="showCol($event.target.checked,$event.srcElement.name,element.showCol,i)" [name]="element.name" type="checkbox"  checked="checked">{{element.name}}</label></li>
                                <li><label><input type="checkbox" checked="checked"> Actions</label></li>
                            </ul>
                        </div>
                        <div *ngIf="viewOption.export" class="keep-open btn-group" title="More Options">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h" ></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a>Upload Table As Json</a></li>
                                <li><a> Upload Table As Excel</a></li>
                                <li><a> Import As Json</a></li>
                                <li><a> Import As Excel</a></li>
                                <li><a> Export As Json</a></li>
                                <li><a> Export As Excel</a></li>
                                <li><a> Export As PDF</a></li>
                                <li><a> Delete Table</a></li>


                            </ul>
                        </div>
                        <button class="btn btn-default pull-right" type="button" title="Settings"><i style="font-size:18px" class="pe-7s-tools"></i></button>

                    </div>

                    <app-table-search *ngIf="viewOption.search" (returnSearchData)="search($event)" [schema]="searchInputObject">
                    </app-table-search>
                    <app-date-rang-picker-lbd *ngIf="viewOption.dateRange">
                    </app-date-rang-picker-lbd>
                </div>
                <div class="fixed-table-container" style="padding-bottom: 0px;">
                    <div class="fixed-table-header" style="display: none;">
                        <table></table>
                    </div>
                    <div class="fixed-table-body">
                        <div class="fixed-table-loading" style="top: 45px;">Loading, please wait...</div>
                        <table *ngIf="!toggleVar;else listView" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <div>ID</div>

                                    </th>
                                    <th *ngFor="let element of experiment.form">
                                        <div *ngIf="element.showCol">{{element.name | uppercase}}</div>

                                    </th>
                                    <th>
                                        <div>Actions</div>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ele of dataArray;let i=index">
                                    <td>{{ele._id}}</td>
                                    <td *ngFor="let element of experiment.form">
                                        <p *ngIf="element.showCol">{{ele[element.name]}}</p>
                                    </td>


                                    <td>
                                        <app-modal [static]="viewModal">
                                            <fieldset *ngFor="let element of experiment.form">
                                                <div class="col-md-3"><b>{{element.name | uppercase}} :</b></div>
                                                <div class="col-sm-9">{{ele[element.name]}}</div>
                                            </fieldset>
                                        </app-modal>
                                        <!-- update modal  -->
                                        <!-- <app-modal [static]="updateModal" [formId]="i" (updatevalues)="updateform($event,ele)" > -->
                                        <!-- <form [formGroup]="updategroup" id=Updateform{{i}} (ngSubmit)="updateQuery(updategroup.value,i)" class="form-horizontal">
                                                <div *ngFor="let element of experiment.form" class="form-group">
                                                    <div class="col-md-3"><b>{{element.name | uppercase}} :</b></div>
                                                    <div class="col-md-9"> <input type="{{element.type}}" placeholder="{{element.placeholder}}" formControlName="{{element.name}}" class="form-control">
                                                        <span class="text-danger" *ngIf="!updateModal.controls[element.name].valid && updateModal.controls[element.name].touched">{{element.err}}</span>
                                                    </div>
                                                </div>
                                            </form> -->
                                        <!-- <app-form [schema]="experiment" [formId]="i" [formType]="false" (usubmit)="updateQuery($event)"></app-form> -->

                                        <!-- </app-modal> -->
                                        <!-- <app-form-modal [static]="updateModal" [rowData]="ele" [rowId]="i" [schema]="experiment"></app-form-modal> -->
                                        <a (click)="update(ele)" routerLink='../temform' class="table-action edit" type="button"><i class="fa fa-edit"></i>
                                        </a>
                                        <a rel="tooltip" (click)="remove(ele,i)" title="Remove" class="table-action remove"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <ng-template #listView>

                            <table class="table table-hover table-striped">

                                <tbody class="__web-inspector-hide-shortcut__">
                                    <tr *ngFor="let ele of dataArray">
                                        <td colspan="6">
                                            <div class="card-view"><span class="title">ID</span><span class="value">{{ele._id}}</span></div>
                                            <div *ngFor="let element of experiment.form" class="card-view">
                                                <span class="title" *ngIf="element.showCol">{{element.name}}</span>
                                                <span class="value" *ngIf="element.showCol">{{ele[element.name]}}</span>
                                            </div>
                                            <div class="card-view"><span class="title">Actions</span>
                                                <span class="value">
                                                    <!-- view modal -->
                                                        <app-modal [static]="viewModal">
                                                                <fieldset *ngFor="let element of experiment.form">
                                                                        <div class="col-md-3"><b>{{element.name | uppercase}} :</b></div>
                                                                        <div class="col-sm-9">{{ele[element.name]}}</div>
                                                                </fieldset>
                                                            </app-modal>
                                                    <!-- edit modal -->

                                                    <!-- <app-modal [static]="updateModal" [formId]="i" (updatevalues)="updateform($event,ele)" [schema]="update"> -->
                                                            <!-- <form [formGroup]="updategroup" id=Updateform{{i}} (ngSubmit)="updateQuery(updategroup.value,i)" class="form-horizontal">
                                                                <div *ngFor="let element of experiment.form" class="form-group">
                                                                        <div class="col-md-3"><b>{{element.name | uppercase}} :</b></div>
                                                                        <div class="col-md-9">                                                                        <input type="{{element.type}}" placeholder="{{element.placeholder}}" formControlName="{{element.name}}" class="form-control">
                                                                        <span class="text-danger" *ngIf="!form.controls[element.name].valid && form.controls[element.name].touched">{{element.err}}
                                                                            
                                                                        </span>
                                            </div>
                    </div>

                    </form> -->
                    <!-- </app-modal> -->
                    <!-- delete anchor -->

                    <a rel="tooltip" (click)="remove(ele,i)" title="Remove" class="table-action remove"><i class="fa fa-remove"></i></a>
                    </span>
                </div>
                </td>
                </tr>

                </tbody>
                </table>
                </ng-template>
            </div>
            <div class="fixed-table-footer" style="display: none;">
                <table>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="fixed-table-pagination">
                <app-visible-row (returnVisibleRowsData)="getpagelimit($event)" [schema]="visibleRowsInputObject"></app-visible-row>
                <app-pagination [totalObjects]="totalObjects" [pageLimit]="setpagelimit" (pageNum)="pagination($event)"></app-pagination>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>


</div>
</div>