<select #value (change)="getValue(title,schema.name)" [multiple]="schema.schema.type" [name]="schema.name" class="selectpicker" [attr.data-title]="schema.schema.dataTitle" [attr.data-style]="schema.schema.dataStyle" [attr.data-menu-style]="schema.schema.dataMstyle">
 <option *ngFor="let element of schema.schema.options" [value]="element.value">{{element.title}}</option>
 </select>
<br>
<br>