<div [formGroup]="form" class="{{schema.class}} form-group">
    <div *ngIf="!type.stacked;else horizon">

        <label class="control-label text-danger" *ngIf="!form.controls[schema.name].valid && form.controls[schema.name].touched ; else second">{{schema.label}}</label>
        <ng-template #second>
            <label class="control-label text-success" *ngIf="form.controls[schema.name].valid && form.controls[schema.name].touched; else third">{{schema.label}}</label>
            <ng-template #third>
                <label class="control-label">{{schema.label}}</label>
            </ng-template>

        </ng-template>

        <input type="{{schema.type}}" placeholder="{{schema.placeholder}}" formControlName="{{schema.name}}" class="form-control">

        <span class="text-danger" *ngIf="!form.controls[schema.name].valid && form.controls[schema.name].touched">{{schema.err}}</span>
    </div>

    <ng-template #horizon>
        <!-- <div class="form-group"> -->

        <label class="col-md-3 control-label text-danger" *ngIf="!form.controls[schema.name].valid && form.controls[schema.name].touched ; else second">{{schema.label}}</label>
        <ng-template #second>
            <label class="col-md-3 control-label text-success" *ngIf="form.controls[schema.name].valid && form.controls[schema.name].touched; else third">{{schema.label}}</label>
            <ng-template #third>
                <label class="col-md-3 control-label">{{schema.label}}</label>
            </ng-template>

        </ng-template>

        <div class="col-md-9">

            <input type="{{schema.type}}" placeholder="{{schema.placeholder}}" formControlName="{{schema.name}}" class="form-control">

            <span class="text-danger" *ngIf="!form.controls[schema.name].valid && form.controls[schema.name].touched">{{schema.err}}</span>

        </div>
        <!-- </div> -->
    </ng-template>

</div>