// .ng-valid[required],
input.ng-valid.ng-touched {
    border: 1px solid #87CB16;
    /* green */
}

input.ng-invalid.ng-touched {
    border: 1px solid #FB404B;
    /* green */
}

.label {
    font-weight: 00;
}