<div *ngIf="schema.data.fieldtype==='input'" class="form-group">
    <label>{{schema.data.label}}</label>
    <input type="{{schema.data.type}}" [(ngClass)]="schema.data.class" placeholder="{{schema.data.placeholder}}" [(ngModel)]="schema.data.value" name="{{schema.data.name}}">
    <span *ngIf="schema.data.valid===false" class="help-block" style="color:#FB404B">{{schema.data.err}}</span>
</div>
<div *ngIf="schema.data.fieldtype==='textarea'" class="form-group">
    <label>{{schema.data.label}}</label>
    <textarea [rows]="schema.data.rows" [(ngClass)]="schema.data.class" placeholder="{{schema.data.placeholder}}" [(ngModel)]="schema.data.value" [value]="schema.data.value" name="{{schema.data.name}}">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
    <span *ngIf="schema.data.valid===false" class="help-block" style="color:#FB404B">{{schema.data.err}}</span>
</div>
<div *ngIf="schema.data.fieldtype==='datepicker'" class="form-group">
    <label>{{schema.data.label}}</label>
    <app-datepicker (notify)="date($event)" [schema]="schema.data" [updateDate]="UpdateSchema"></app-datepicker>
    <span *ngIf="schema.data.valid===false" class="help-block" style="color:#FB404B">{{schema.data.err}}</span>
</div>
<!-- <ng-template *ngIf="schema.data.value!==undefined"> -->

<app-addmore-valid *ngIf="schema.data.fieldtype==='addmorevalid'" [schema]="schema.data" [update]="UpdateSchema" (notify)="addmorevalid($event)"></app-addmore-valid>
<app-addmore-expense-valid *ngIf="schema.data.fieldtype==='addmoreexpensevalid'" [schema]="schema.data" [update]="UpdateSchema" (notify)="addmoreexpensevalid($event)"></app-addmore-expense-valid>
<app-addmore-payslip *ngIf="schema.data.fieldtype==='addmorepayslip'" [schema]="schema.data" [update]="UpdateSchema" (notify)="addmorepayslip($event)"></app-addmore-payslip>
<!-- </ng-template> -->
<app-name-result *ngIf="schema.data.fieldtype==='nameresult'" [schema]="schema.data" [update]="UpdateSchema" (notify)="nameSelect($event)"></app-name-result>
<app-auto-ref *ngIf="schema.data.fieldtype==='auto'" [update]="UpdateSchema" [schema]="schema.data" (notify)="autoref($event)"></app-auto-ref>
<app-refnum *ngIf="schema.data.fieldtype==='refnum'" [update]="UpdateSchema" [schema]="schema.data" (notify)="refSaleOrder($event)"></app-refnum>