<div class="card">
    <div class="container-fluid">

        <div class="row">
            <app-date-rang-picker-lbd (notify)=datePicker($event)></app-date-rang-picker-lbd>
            <div class="col-md-3">
                <div class="help-block text-warning"><b> Please select the date range</b></div>
            </div>
        </div>
        <div class="help-block text-info" *ngIf="dateRangePicker"><b> You have selected from {{dateRangePicker.start}} to {{dateRangePicker.end}}</b>
        </div>
    </div>
</div>
<!-- //----------------- Cusomer Summary---------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Customer Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-bar-vertical [view]="customer_View" [scheme]="colorScheme" [results]="customer_ChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Customer List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="customerSummary">Total: {{customerSummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a customer data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>CustomerName</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of finalCustomerSummary;">
                                    <td>{{entry.itemName}}</td>
                                    <td>{{entry.qty}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------POP Inventory Summary-------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">Inventory Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-grid [view]="viewInventoryPOP" [scheme]="colorSchemeInventory" [results]="singleInventoryChartData" (select)="onSelect($event)">

                    </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Inventory List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="inventorySummary">Total: {{inventorySummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a Inventory data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>ItemName</th>
                                    <th>UnitPrice</th>
                                    <th>TotalQty</th>
                                    <!-- <th>Total Price</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of finalInventorySummary;">
                                    <td>{{entry.itemName}}</td>
                                    <td>{{entry.unitPrice}}</td>
                                    <td>{{entry.qty}}</td>
                                    <!-- <td>{{entry.value.sum[1]}}</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------POS posInventory Summary-------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">posInventory Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-grid [view]="posInventory_View" [scheme]="posInventory_colorScheme" [results]="posInventory_ChartData" (select)="onSelect($event)">

                    </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">posInventory List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="posInventorySummary">Total: {{posInventorySummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a posInventory data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>ItemName</th>
                                    <th>UnitPrice</th>
                                    <th>TotalQty</th>
                                    <!-- <th>Total Price</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of finalPosInventorySummary;">
                                    <td>{{entry.itemName}}</td>
                                    <td>{{entry.unitPrice}}</td>
                                    <td>{{entry.qty}}</td>
                                    <!-- <td>{{entry.value.sum[1]}}</td> -->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------ Remaing Inventory Summary-------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">posInventory Summary</div>
                <hr>
                <ngx-charts-number-card [view]="view_remQty" [scheme]="colorScheme_remQty" [results]="chartData_remQty" (select)="onSelect($event)">
                </ngx-charts-number-card>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">posInventory List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="posInventorySummary">Total: {{posInventorySummary.totalPrice}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a posInventory data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>ItemName</th>
                                    <th>Total Qty purchase</th>
                                    <th>Total Qty sale</th>
                                    <th>Remaing Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of remainingInventory;">
                                    <td>{{entry.name}}</td>
                                    <td>{{entry.popQty}}</td>
                                    <td>{{entry.posQty}}</td>
                                    <td>{{entry.remQty}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------POS sale Invoice Summary-------- -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">saleInvoice Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-bar-vertical [view]="saleInvoice_view" [scheme]="saleInvoice_colorScheme" [results]="saleInvoice_ChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="saleInvoice_xAxisLabel" [yAxisLabel]="saleInvoice_yAxisLabel" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">saleInvoice List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="saleInvoiceSummary">Total: {{saleInvoiceSummary[0].value.sum}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a saleInvoice data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>TotalInvoice</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of saleInvoiceSummary;">
                                    <td>{{entry.key}}</td>
                                    <td>{{entry.value.count}}</td>
                                    <td>{{entry.value.min}}</td>
                                    <td>{{entry.value.max}}</td>
                                    <td>{{entry.value.sum}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------POS Sale Order Summary-------- -->
<div class="row">
    <!-- <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">SaleOrder Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-grid [view]="viewInventoryPOP" [scheme]="colorSchemeInventory" [results]="singleInventoryChartData" (select)="onSelect($event)">

                  </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-md-12">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">SaleOrder List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="saleOrderSummary">Total: {{saleOrderSummary[0].value.sum}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a SaleOrder data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Total Order</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of saleOrderSummary;">
                                    <td>{{entry.key}}</td>
                                    <td>{{entry.value.count}}</td>
                                    <td>{{entry.value.min}}</td>
                                    <td>{{entry.value.max}}</td>
                                    <td>{{entry.value.sum}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------deliveryNote  Summary-------- -->
<div class="row">
    <!-- <div class="col-md-6">
        <div class="card">
            <div class="container-fluid">
                <div class="header">deliveryNote Summary</div>
                <hr>
                <div class="content">
                    <ngx-charts-pie-grid [view]="viewInventoryPOP" [scheme]="colorSchemeInventory" [results]="singleInventoryChartData" (select)="onSelect($event)">

                </ngx-charts-pie-grid>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-md-12">
        <div class="card">
            <div class="container-fluid">
                <div class="content">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">deliveryNote List</h4>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-fill btn-round" *ngIf="deliveryNoteSummary">Total: {{deliveryNoteSummary[0].value.sum}}</button>
                            </div>
                        </div>
                        <p class="category">Here is a deliveryNote data</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Total Order</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of deliveryNoteSummary;">
                                    <td>{{entry.key}}</td>
                                    <td>{{entry.value.count}}</td>
                                    <td>{{entry.value.min}}</td>
                                    <td>{{entry.value.max}}</td>
                                    <td>{{entry.value.sum}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>