input.valid {
    border: 1px solid #87CB16;
    color: #87CB16;
}

input.invalid {
    border: 1px solid #FB404B;
    color: #FB404B;
}

textarea.valid {
    border: 1px solid #87CB16;
    color: #87CB16;
}

textarea.invalid {
    border: 1px solid #FB404B;
    color: #FB404B;
}